<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>The Golden Reach is a youth-led organization dedicated to connecting the youth with the senior community. 
          This organization aims to foster intergenerational relationships and provide support for seniors. 
          Golden Reach facilitates activities and events that bring seniors and the youth together, with the goal of reducing isolation and loneliness among the elderly.
        </p>
      </div>
    </div>
  </div>
</section>
